body {
    background-color: #dbdbdb !important;
    overflow-x: hidden;
}

.navbar {
    z-index: 1000 !important;
}

.divmenu {
    margin-bottom: 86px !important;
}

.formularicontactar {
    width: 40% !important;
}

.inputformcontactar {
    margin: 10px;
}

.btnformcontactar {
    margin-left: 10px !important;
    width: 100px !important;
}

.btnlogin {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnlogin:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btnnav {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnnav:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.container {
    width: 100% !important;
    max-width: 100000px !important;
}

.texttitol {
    color: white;
    background-color: black;
    height: 60px;
    padding-top: 10px;
    margin-bottom: 0px;
    -webkit-box-shadow: 8px 37px 80px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 8px 37px 80px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 8px 37px 80px 0px rgba(0, 0, 0, 0.55);
}

.divapartaments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 15px;
}



.formsignup,
.formlogin {
    width: 350px !important;
}

.btn-settings {
    background-color: #ffffff;
    color: #000000;
    border: solid;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-settings:hover {
    background-color: #000000;
    color: #ffffff;
}

.texteditdades:hover {
    box-shadow: 0 0 0 0 #fff inset, #ffffff 0 0 0 2px;
}

.texteditdades:focus {
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #03c091 0 0 0 3px;
}

.confirmaredit {
    margin-top: 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    background: #fff;
    color: #222222;
}

.btnobrirtaula {
    width: 100%;
    background-color: #212529;
    color: #fff;
    border: solid;
    border-color: #303030;
}

.scrollable-table {
    max-height: 890px !important;
    overflow-y: scroll;
}

.taulausuaris {
    width: 100% !important;
}

.taulausuaris,
.taulaapartaments {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #ffffff;
}

.formularicrearusuaripanel {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.afegirusuari {
    margin-top: -16px;
}

.inputnomcontrol {
    width: 160px;
}

.inputcognomcontrol {
    width: 160px;
}

.llistadeusuaris {
    background-color: #212529;
    margin-bottom: 0px;
    height: 4px;
}

.panelusuaris {
    font-family: sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: uppercase;
    text-align: center;
    background-color: #212529;
    margin-bottom: 0px;
}

.panelapartaments {
    font-family: sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: uppercase;
    text-align: center;
    background-color: #212529;
    margin-bottom: 0px;
    width: 100%;
}

usuarieliminat {
    font-family: sans-serif;
    font-size: 26px;
    color: #00d841;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: uppercase;
    text-align: center;
    background-color: #212529;
    margin-bottom: 0px;
}

#card {
    transition: transform 0.3s;
}

#card:hover {
    transform: scale(1.1);
}

/*ESTILS PER LA VISTA MODAL */

.preu {
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    margin-left: 10px;
}

.imgmodal {
    border-radius: 5px !important;
}

.servicesextra {
    margin-top: -10px;
    margin-left: 25px;
}

.descripcioapartmenttitol {
    margin-left: 25px;
    font-weight: bold;
}

.descripcioapartment {
    margin-left: 25px;
}

.textform {
    color: white;
    margin-bottom: 2px !important;
    margin-top: 0px;
    text-align: left;
}

.texteditdades {
    border: 0;
    background: #212529;
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    height: 35px;
    transition: all 0.2s ease;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.texteditdades:focus {
    background: black;
    outline: 0;
    box-shadow: rgb(0, 0, 0) 0 0 #fff inset, #03c091 0 0 0 3px;
}

.accordion-button {
    background-color: #b3b3b3 !important;
}

.accordion-body {
    background-color: #ffffff !important;
}

.accordion-item {
    border: 0px solid !important;
}

.btnopenform {
    background-color: #9b9b9b !important;
    width: 100%;
    color: #000000 !important;
    border-radius: 0px !important;
    font-size: 20px !important;
}

.inputapart {
    border-radius: 5px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.inputtitol {
    width: 100px;
}

.inputlenilat {
    width: 70px;
}

.inputdescripciocurta {
    width: 400px;
}

.inpumq {
    width: 55px;
}

.innumhab {
    width: 40px;
}

.inputextra {
    width: 200px;
}

.inputprice {
    width: 55px;
}

.tdapart {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.dashboarddiv {
    display: flex;
}

.vertical-menu {
    width: 200px;
    background-color: #212529;
    color: #fff;
    padding: 10px;
    height: 890px;
}

.vertical-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.vertical-menu a:hover {
    background-color: #555;
}

.vertical-menu a.active {
    background-color: #4c9baf;
}

.list-item-container {
    display: flex;
    align-items: center;
}

.list-item-container i {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.list-item-container p {
    flex: 1;
    margin: 0;
}

#map {
    height: 200px;
}

.modal-dialog {
    transition: all 0.3s;
}

.sloganweb {
    font-size: 16px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.map {
    width: 100%;
    height: 50%;
}
